body{
      background-image: url("ba.jpg" );
     
      background-attachment: fixed;
}
   h1{
	font-family: "Times new roman", serif;
	font-size: 60px;
	}
   p{
     font-family: "Times new roman", sans-serif; 
     font-size: 30px;
   }
   li{
      font-family: "Times new roman" sans-serif; 
      font-size: 30px;
   }